<!-- templates/event_planner/event_final.html -->

{% extends "master/base.html" %}
{% load static %}


{% block title %}My Event List{% endblock %}

{% block content %}
    <div>
        <h2>Past Events</h2>
        {% if events %}
            <div class="row">
                {% for event in events %}
                    <div class="col-md-4">
                        <!-- Card for past events (date reached / status 'completed/billed/paid/canceled') -->
                        <div class="card mb-3">
                            <!-- Wrap card body with edit link -->
                            <a href="{% url 'edit_event_detail' event.id %}" class="card-link">
                                <div class="card-body">
                                    <h4 class="card-title" style="color: var(--gold);">{{ event.title }}</h4>
                                    <!-- Event details -->
                                    <p class="card-text"><small class="text-muted">Date: {{ event.created_at }}</small></p>
                                    <p class="card-text"><small class="text-muted">Event status: {{ event.status }}</small></p>
                                    <p class="card-text"><small class="text-muted">Budget: {{ event.total_budget }} &emsp; Cost: {{ event.total_actual }}</small></p>
                                    
                                    <!-- Event costs -->
                                    <p class="card-text">
                                        <small class="text-muted">
                                            {% if event.deviation > 0 %}
                                                <span class="text-success">Under Budget: {{ event.deviation|floatformat:2 }}</span>
                                            {% elif event.deviation < 0 %}
                                                <span class="text-danger">Over Budget: {{ event.deviation|floatformat:2 }}</span>
                                            {% else %}
                                                Balanced
                                            {% endif %}
                                        </small>
                                    </p>
                                </div>
                            </a>

                            {% if event.can_bill %}
                                <!-- only manager can bill event -->
                                <div class="card-footer">
                                    <form method="post" action="{% url 'clearing_view' event.id %}">
                                        {% csrf_token %}
                                        <button type="submit" class="btn btn-primary btn-sm">Bill Event</button>
                                    </form>
                                </div>
                            {% endif %}

                            {% if event.see_trans %}
                                <!-- only manager can see transactions -->
                                <div class="card-footer">
                                    <form method="post" action="{% url 'event_transactions' event.id %}">
                                        {% csrf_token %}
                                        <button type="submit" class="btn btn-primary btn-sm">Transactions</button>
                                    </form>
                                </div>
                            {% endif %}
                        </div>
                    </div>
                {% endfor %}
            </div>
        {% else %}
            <p>No events available at this time.</p>
        {% endif %}
    </div>
{% endblock %}
