<!-- App name and logo -->
{% load static %}

<header class="py-2" style="background: linear-gradient(90deg, var(--deep-navy), var(--silver-blue)); border-bottom: 3px solid var(--gold);">
    <div class="container">
        <div class="d-flex flex-column flex-md-row align-items-center">
            <div class="mb-2 mb-md-0">
                <img src="{% static 'images/21_celebrations_logo.png' %}" 
                    alt="21 Celebrations Logo" 
                    style="height: 120px;" 
                    class="me-3">
            </div>
            
            <div class="text-center text-md-start" style="line-height: 1;">
                <h1 class="mb-0" style="color: var(--gold); font-family: 'Cinzel', serif; font-weight: 700; font-size: 2rem;">
                    21 Celebrations
                </h1>
                <small style="color: var(--creme-white); font-family: 'Lato', sans-serif; font-size: 1rem;">
                    Elevate your celebrations on the 21st floor
                </small>
            </div>
        </div>
    </div>
</header>